.button {
  font-family: 'Montserrat' normal;
  border: none;
  border-radius: 10px;
  background: #555960;
  color: #eeeeee;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  display: inline-block;
}

/* .button:hover {
  background: #222831;
} */

.button:disabled {
  cursor: not-allowed;
  background: #555960;
}

.button:focus {
  outline: none;
}
